body {
    background-color: grey;
}
h1{
    color: green;
}
img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 320px){
    img{
        max-width: 100%;
        height: auto;
    }
   h2{
    color: yellow;
   }
  p {font-size: 14px;}

  }

  @media (min-width:768px) {
    #cat{
       text-align: center;
    }
  }